<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>

    <body>


        <h1 class="text-center text-xl my-4">Hello, <%= name%>
        </h1>

        <div class="flex flex-wrap gap-4 justify-center">

            <div role="button" onclick="handleClick()"
                class="bg-slate-500 rounded-2xl  flex flex-col items-center justify-center min-w-[150px] h-32 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium  text-sm px-5 py-2.5 text-center me-2 mb-2">
                <div class="w-full mb-14">
                    <h1>Membership</h1>
                    <h1>#0000</h1>
                </div>


            </div>
            <div role="button" onclick="handleClick()"
                class="bg-slate-500 rounded-2xl  flex flex-col items-center justify-center min-w-[150px] h-32 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium  text-sm px-5 py-2.5 text-center me-2 mb-2">
                <h1>test1</h1>
                <h1>test2</h1>
            </div>
            <div role="button" onclick="handleClick()"
                class="bg-slate-500 rounded-2xl  flex flex-col items-center justify-center min-w-[150px] h-32 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium  text-sm px-5 py-2.5 text-center me-2 mb-2">
                <h1>test1</h1>
                <h1>test2</h1>
            </div>
            <div role="button" onclick="logout()"
                class="bg-slate-500 rounded-2xl  flex flex-col items-center justify-center min-w-[150px] h-32 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium  text-sm px-5 py-2.5 text-center me-2 mb-2">
                <h1>Log Out</h1>

            </div>

            <div role="button" onclick="handleClick()"
                class="bg-slate-500 rounded-2xl flex flex-col items-center justify-center min-w-[312px] h-32 text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 shadow-lg shadow-lime-500/50 dark:shadow-lg dark:shadow-lime-800/80 font-medium  text-sm px-5 py-2.5 text-center me-2 mb-2">
                <h1>Check-In</h1>
            </div>




        </div>

    </body>
    <script>


        function handleClick() {
            alert('Div clicked!');
        }


        function logout() {
            fetch('/logout', {
                method: 'DELETE', // Ensure this matches the method used on the server
                credentials: 'same-origin' // Ensures cookies are sent with the request
            })
                .then(response => {
                    if (response.redirected) {
                        // Redirect if the server indicates a redirection
                        window.location.href = response.url;
                    } else {
                        // Handle the case where no redirect is provided
                        window.location.href = '/login';
                    }
                })
                .catch(error => {
                    console.error('Error during logout:', error);
                    // Optionally redirect to a fallback page
                    window.location.href = '/login';
                });
        }


    </script>

</html>