<!DOCTYPE html>
<html>

<!-- Get Head from partial file -->
<%- include("./partials/head.ejs") %>

    <body>


        <div class="container mx-auto">
            <h1 class="text-5xl font-bold underline">Hello, Tailwind with EJS!</h1>
            <h1 class="text-red-500">This is a red heading</h1>
            <h1 class="text-blue-500">This is a blue heading</h1>
            <h1 class="text-green-500">This is a green heading</h1>
        </div>

    </body>

</html>